#two-factor-auth{
    background-color: #e2e2e2;
}
.vertical-container {
    height: 100vh;
}

.login-card {
    border: 0;
    margin: 18px 0;
    box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 20px;
    background-color:#fff;
}

.login-form.form-group input {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

.login-form.form-group {
    margin-top: 30px;
}


.mtop10{
    margin-top:10px;
}
