<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-bars"
      class="p-button-rounded p-button-text"
      (click)="toggleHideSidebar.emit()"
    ></button>
  </div>

  <div class="p-toolbar-group-right">
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-bell"
      class="p-button-rounded p-button-text"
    ></button>

    <div
      class="cursor d-flex flex-row justify-content-between align-items-center"
      (click)="menu.toggle($event)"
    >
      <img
        src="https://www.primefaces.org/diamond-ng/assets/demo/images/avatar/profile.jpg"
        height="40"
        class="p-mr-2 border rounded-circle"
      />
      <div>{{ username }}</div>
    </div>
  </div>
</p-toolbar>
