<p-toast position="bottom-center"></p-toast>

<p-card
  [header]="isEdit ? 'Edit Program' : 'Create Program'"
  styleClass="p-card-shadow"
>
  <form *ngIf="!isReqPending" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div
      class="form-group d-flex flex-row bd-highlight justify-content-between flex-wrap"
    >
      <div
        *ngFor="let field of formField"
        class="col col-lg-7 col-sm-10"
        [ngClass]="{ hidden: field.hide }"
      >
        <div [ngSwitch]="field.type" class="p-field col col-lg-9 col-sm-12">
          <div *ngSwitchCase="'text'" class="p-float-label">
            <input
              [id]="field.field"
              type="text"
              pInputText
              class="p-inputtext-lg p-inputtext p-component"
              [formControlName]="field.field"
            />
            <label [for]="field.field">{{ field.label }}</label>
            <small
              *ngIf="
                formGroup.get(field.field).hasError('required') &&
                isFormSubmitted
              "
              class="p-invalid"
            >
              {{ field.label }} is required
            </small>
            <small *ngFor="let error of field.errors" class="p-invalid">
              {{ error }}
            </small>
          </div>

          <div *ngSwitchCase="'number'" class="p-float-label">
            <input
              [id]="field.field"
              type="number"
              pInputText
              [formControlName]="field.field"
              class="p-inputtext-lg p-inputtext p-component"
            />
            <label [for]="field.field">{{ field.label }}</label>
            <small
              *ngIf="
                formGroup.get(field.field).hasError('required') &&
                isFormSubmitted
              "
              class="p-invalid"
            >
              {{ field.label }} is required
            </small>
            <small *ngFor="let error of field.errors" class="p-invalid">
              {{ error }}
            </small>
          </div>

          <div *ngSwitchCase="'email'" class="p-float-label">
            <input
              [id]="field.field"
              type="email"
              pInputText
              class="p-inputtext-lg p-inputtext p-component"
              [formControlName]="field.field"
            />
            <label [for]="field.field">{{ field.label }}</label>
            <small
              *ngIf="
                formGroup.get(field.field).hasError('required') &&
                isFormSubmitted
              "
              class="p-invalid"
            >
              {{ field.label }} is required
            </small>
            <small
              *ngIf="
                formGroup.get(field.field).hasError('invalidEmailAddress') &&
                isFormSubmitted &&
                !formGroup.get(field.field).hasError('required')
              "
              class="p-invalid"
            >
              Please provide valid {{ field.label }}
            </small>
            <small *ngFor="let error of field.errors" class="p-invalid">
              {{ error }}
            </small>
          </div>

          <div *ngSwitchCase="'textarea'" class="p-float-label">
            <textarea
              [rows]="8"
              [cols]="30"
              pInputTextarea
              [id]="field.field"
              [formControlName]="field.field"
            ></textarea>
            <label [for]="field.field">{{ field.label }}</label>
            <small
              *ngIf="
                formGroup.get(field.field).hasError('required') &&
                isFormSubmitted
              "
              class="p-invalid"
            >
              {{ field.label }} is required
            </small>
            <small *ngFor="let error of field.errors" class="p-invalid">
              {{ error }}
            </small>
          </div>

          <div *ngSwitchCase="'dropdown'" class="p-float-label">
            <p-dropdown
            optionDisabled="disabled"
              [options]="field.options"
              [formControlName]="field.field"
              [showClear]="true"
              (onClick)="onDropdownFieldFocus(field)"
              (onChange)="onChange($event, field)"
              [inputId]="field.field"
              [autoDisplayFirst]="false"
            >
              <ng-template let-option pTemplate="option">
                <div>
                  {{ option.label }}
                  <i
                    *ngIf="field.isReqPending"
                    class="pi pi-spin pi-spinner"
                  ></i>
                </div>
              </ng-template>
            </p-dropdown>
            <label [for]="field.field">{{ field.label }}</label>
            <small
              *ngIf="
                formGroup.get(field.field).hasError('required') &&
                isFormSubmitted
              "
              class="p-invalid"
            >
              {{ field.label }} is required
            </small>
            <small *ngFor="let error of field.errors" class="p-invalid">
              {{ error }}
            </small>
          </div>

          <div *ngSwitchCase="'date'" class="p-float-label">
            <p-calendar [id]="field.field" [formControlName]="field.field">
            </p-calendar>
            <label [for]="field.field">{{ field.label }}</label>
            <small
              *ngIf="
                formGroup.get(field.field).hasError('required') &&
                isFormSubmitted
              "
              class="p-invalid"
            >
              {{ field.label }} is required
            </small>
            <small *ngFor="let error of field.errors" class="p-invalid">
              {{ error }}
            </small>
          </div>

          <div *ngSwitchCase="'radio'" class="mb-2">
            <div>{{ field.label }}</div>
            <div class="d-flex flex-row">
              <div
                *ngFor="let option of field.options"
                class="p-field-radiobutton mr-5"
              >
                <div>
                  <p-radioButton
                    [value]="option.value"
                    [formControlName]="field.field"
                    [inputId]="option.value"
                  >
                  </p-radioButton>
                  <label [for]="option.value">{{ option.label }}</label>
                </div>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'checkbox'" class="mb-4">
            <div *ngIf="field.groupLabel">{{ field.groupLabel }}</div>
            <p-checkbox
              [formControlName]="field.field"
              [inputId]="field.field"
              binary="true"
            >
            </p-checkbox>
            <label [for]="field.field" style="margin: 0 0 0 5px">{{
              field.label
            }}</label>
            <small
              *ngIf="
                formGroup.get(field.field).hasError('required') &&
                isFormSubmitted
              "
              class="p-invalid"
            >
              {{ field.label }} is required
            </small>
            <small *ngFor="let error of field.errors" class="p-invalid">
              {{ error }}
            </small>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="d-flex justify-content-end">
        <div class="d-flex justify-content-end">
          <button
            pButton
            pRipple
            type="button"
            label="Cancel"
            class="p-button-raised p-button-secondary btn-margin"
          ></button>
          <button
            pButton
            pRipple
            type="submit"
            [label]="isEdit ? 'Update' : 'Create'"
            class="p-button-raised"
          ></button>
        </div>
      </div>
    </p-footer>
  </form>
</p-card>
